<nav>
    <a href="/" class="header">Portfolio</a>
    <ul>
        <a href="/"> <li class = "nav-link-text"><i class="fas fa-home"></i> Home </li></a>
        <a href="/about"> <li class = "nav-link-text"><i class="fas fa-user"></i> About </li></a>
        <a href="/skills"> <li class = "nav-link-text"><i class="fas fa-puzzle-piece"></i> Skills </li></a>
        <a href="/projects"><li class = "nav-link-text"><i class="fas fa-project-diagram"></i> Projects </li></a>
        <a href="/contact"><li class = "nav-link-text"><i class="fas fa-address-book"></i> Contact </li></a>
    </ul>

</nav>




