<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>

    <%- include('./partials/nav.ejs')  %> 

    <h1>OOPS! LOOKS LIKE YOU VISITED THE WRONG URL</h1>
    
</body>
</html>